{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container p-4">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle|richtext }}</h4>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/tech.jpeg" class="card-img" alt="tech">
        <div class="card-img-overlay">
            <h5 class="card-title">Facebook开源的音乐大模型</h5>
            <p class="card-text">Facebook开源的音乐大模型</p>
            <p class="card-text"><small>2023-08-06</small></p>
            <a href="/huggingface-space-share/music-generation/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

{% endblock %}