{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container p-4">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle|richtext }}</h4>
</div>


<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/vintage2.jpeg" class="card-img" alt="tech">
        <div class="card-img-overlay">
            <h5 class="card-title">OpenAI Wisper Jax音频模型</h5>
            <p class="card-text">Whisper JAX是OpenAI的Whisper模型的优化实现，运行在TPU上，是目前最快的Whisper API</p>
            <p class="card-text"><small>2023-08-22</small></p>
            <a href="/huggingface-space-share/openai-wisper-jax-model/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>


<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/vintage.jpeg" class="card-img" alt="vintage">
        <div class="card-img-overlay">
            <h5 class="card-title">Facebook开源的音乐大模型</h5>
            <p class="card-text">This is the demo for MusicGen, a simple and controllable model for music generation presented at: “Simple and Controllable Music Generation”.
            Open sourced by Facebook.</p>
            <p class="card-text"><small>2023-08-06</small></p>
            <a href="/huggingface-space-share/music-generation/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

{% endblock %}