<!-- add blog link in the blow footer. -->

<footer class=" bg-primary footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 BiuBiuAI all rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a class="text-black" href="/terms-of-service">服务条款</a>
        <a class="text-black" href="/privacy-policy">隐私政策</a>
      </div>
    </div>
  </div>
  <!-- // 添加友情链接，居中显示 -->
  <div class="container text-center">
    <div class="row">
      <div>
        <p>友情链接</p>
        <!-- add link, the link color is black -->
        <a class="text-black" target="_blank" href="https://github.com/microsoft/JARVIS">JARVIS</a>
        <a class="text-black" target="_blank" href="https://huggingface.co/">Hugging Face</a>
        <a class="text-black" target="_blank" href="https://chenzuoli.github.io/">Blog</a>
        <a class="text-black" target="_blank" href="https://blog.csdn.net/chenzuoli">CSDN</a>
        <a class="text-black" target="_blank" href="https://github.com/chenzuoli">GitHub</a>
        <a class="text-black" target="_blank" href="https://chat.openai.com">ChatGPT</a>
        <a class="text-black" target="_blank" href="https://stablediffusionweb.com/">Stable Diffusion</a>
        <a class="text-black" target="_blank" href="https://github.com/Significant-Gravitas/Auto-GPT">Auto-GPT</a>
        
        
      </div>
    </div>
  </div>
</footer>
