<!-- 让导航栏变成浅蓝色 -->
<!-- <nav class="navbar navbar-expand-lg bg-primary"> -->
<!-- {% load static %} -->

<header>
    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6592717531467819"
        crossorigin="anonymous"></script>
    <!-- import mysite.css -->
    <!-- <link rel="stylesheet" href="{% static 'css/mysite.css' %}"> -->

    <!-- create a div, import alert-panel style -->
    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>注意！</strong> 本网站仅供学习交流使用，不得用于商业用途！
        <br>
        各位同学，不好意思，本站chatgpt聊天、绘图功能暂时不可用，原因是使用人数过多，导致OPENAI账号余额不足。我会尽快解决这个问题。
        <br>
        其他功能正常访问，谢谢大家的支持！
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->
    <!-- </div> -->


    <!-- change the navbar color to bg-dark -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white" style="width: 180px;" href="/homepage">BiuBiuAI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between w-80">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/homepage">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/ai-news">资讯</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/chatgpt-online">聊天</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/free-gpt">聊天工具</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/free-gpt/chattool-online/">聊天工具</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/chatimg-online">绘图</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/chatimg-online/space/">绘图工具</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            你是
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/for-developer">程序员</a></li>
                            <li><a class="dropdown-item" href="/writer">作者</a></li>
                            <li><a class="dropdown-item" href="/designer">设计师</a></li>
                            <li><a class="dropdown-item" href="/analyst">数据分析师</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            AI工具
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/chat-gpt">ChatGPT</a></li>
                            <li><a class="dropdown-item" href="/auto-gpt">Auto-GPT</a></li>
                            <li><a class="dropdown-item" href="#">Jarvis</a></li>
                            <li><a class="dropdown-item" href="#">DeepSpeed</a></li>
                            <li><a class="dropdown-item" href="/hugging-face">HuggingFace</a></li>
                            <li><a class="dropdown-item" href="/audio-gpt">Audio-GPT</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/prompt-list">提示词</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            文档
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/docs/nlp-course">NLP教程</a></li>
                            <li><a class="dropdown-item" href="/docs/blogs">博客</a></li>
                            <li><a class="dropdown-item" href="/docs/huggingface-usage">Huggingface使用</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            HuggingFace Space
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/huggingface-space-share/qr-code-ai-art-generator/">AI艺术二维码生成工具</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/lmflow-chat/">LMFlow-CHAT</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/chatglm-6b/">清华大学ChatGLM-6B</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/chatglm2-6b/">清华大学ChatGLM2-6B</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/text-to-video/">文字转视频模型ZeroScope</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/music-generation/">音乐生成模型MusicGen</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/ledits/">图片编辑模型Ledits</a></li>
                            <li><a class="dropdown-item" href="/huggingface-space-share/ai-webtv/">基于AI的网页版TV</a></li>
                            
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/about-us">关于</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
            </div>
        </div>
    </nav>
</header>