<!-- 让导航栏变成浅蓝色 -->
<!-- <nav class="navbar navbar-expand-lg bg-primary"> -->
{% load static %}

<header>
    <link rel="shortcut icon" href="{% static './img/favicon.jpg' %}">

    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6592717531467819"
        crossorigin="anonymous"></script>

    <!-- change the navbar color to bg-dark -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white" style="width: 180px;" href="/homepage">BiuBiuAI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between w-50">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/homepage">主页</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pricing">Pricing</a>
                    </li> -->
                    <li class="nav-item">
                        <!-- <a class="nav-link active" aria-current="page"  target="_blank" href="http://43.153.35.39:3000/">聊天</a> -->
                        <a class="nav-link active text-white" aria-current="page" href="/chatgpt-online">聊天</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://chenzuoli.github.io/">Blog</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/contact_us">联系</a>
                    </li> -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            你是
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/for-developer">程序员</a></li>
                            <li><a class="dropdown-item" href="#">作者</a></li>
                            <li><a class="dropdown-item" href="#">设计师</a></li>
                            <li><a class="dropdown-item" href="#">其他</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            AI工具
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/chat-gpt">ChatGPT</a></li>
                            <li><a class="dropdown-item" href="/auto-gpt">Auto-GPT</a></li>
                            <li><a class="dropdown-item" href="#">Jarvis</a></li>
                            <li><a class="dropdown-item" href="#">DeepSpeed</a></li>
                            <li><a class="dropdown-item" href="/hugging-face">HuggingFace</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/prompt-list">提示词</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/about-us">关于</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
            </div>
        </div>
    </nav>

</header>