{% extends "base.html"%}
{% load  wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image self.banner_image  original as logoimg %}
{% image self.chatboximage  fill-500x300 as chatboximage %}

<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <h4 class="display-9 fw-bold">{{ self.banner_title}}</h4>
      <p class="lead mb-4">{{ self.banner_subtitle|richtext }}</p>
      <button type="button" class="btn btn-primary">
        <a href="http://43.153.35.39:3000/" target="_blank" class="btn btn-primary">试试ChatGPT</a>
      </button>
    </div>
    <div class="col-md-6">
      <img src="{{ chatboximage.url }}" class="rounded mx-auto d-block" alt="{{ chatboximage.title }}">
    </div>
  </div>
</div>
<!-- <div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" style="background-image: url('{{ img.url }}')" alt="" width="168" height="39">
  <h1 class="display-5 fw-bold">{{ self.banner_title}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{ self.banner_subtitle|richtext }}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="http://43.153.35.39:3000/" target="_blank" class="btn btn-primary">开始跟我聊天吧</a>
    </div>
  </div>
</div> -->

{% endblock %}