{% extends "base.html"%}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- 要放在block content之后 -->
{% image self.baseimg fill-500x300 as baseimg %}
{% image self.banner_image original as logoimg %}
{% image self.chatboximage fill-500x300 as chatboximage %}
{% image self.texttoimg fill-500x300 as texttoimg %}
{% image self.imgtoimg fill-500x300 as imgtoimg %}

<!-- firstpage -->

<br>
<br>
<br>
<br>
<div class="container p-4 text-center">
  <h1>欢迎来到BiuBiuAI人工智能体验网站</h1>
</div>
<br>
<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="container p-4">
        <img src="{{ baseimg.url }}" class="rounded mx-auto d-block" alt="{{ baseimg.title }}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="container text-start">
        <p class="lead mb-4">{{ self.base_text|richtext }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="row">
        <p class="lead mb-4">{{ self.banner_subtitle|richtext }}</p>
        <button type="button" class="btn btn-primary">
          <!--  <a href="/chatgpt_online_demo" target="_blank" class="btn btn-primary">试试ChatGPT</a> -->
          <a href="http://43.153.96.195:3000/" target="_blank" class="btn btn-primary">试试ChatGPT</a> 
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container p-4">
        <img src="{{ chatboximage.url }}" class="rounded mx-auto d-block" alt="{{ chatboximage.title }}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="container p-4">
        <img src="{{ texttoimg.url }}" class="rounded mx-auto d-block" alt="{{ texttoimg.title }}">
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <p class="lead mb-4">{{ self.texttoimg.title }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <p class="lead mb-4">{{ imgtoimg.title }}</p>
    </div>
    <div class="col-md-6">
      <div class="container p-4">
        <img src="{{ imgtoimg.url }}" class="rounded mx-auto d-block" alt="{{ imgtoimg.title }}">
      </div>
    </div>
  </div>
</div>

{% endblock %}