{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container p-4">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle|richtext }}</h4>
</div>

<div class="container p-4">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech3.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-Meta-Llama-2语言大模型">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/chat-space/chattool-online/llama2-13b-chat/" target="_blank">Llama-2 13B Chat
                            Model</a>
                    </h5>
                    <p class="card-text">This Space demonstrates model Llama-2-13b-chat by Meta, a Llama 2 model with
                        13B parameters fine-tuned for chat instructions. Feel free to play with it, or duplicate to run
                        generations without a queue! If you want to run your own service, you can also deploy the model
                        on Inference Endpoints.</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-Hello-World">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-hello-world/" target="_blank">Huggingface Hello World Model</a>
                    </h5>
                    <p class="card-text">https://course-demos-hello-world.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech1.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-背景去除模型">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-background-erase/" target="_blank">Huggingface remove-bg Model</a>
                    </h5>
                    <p class="card-text">https://course-demos-remove-bg-original.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech4.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-草图模型 Model">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-draw/" target="_blank">HuggingFace模型-草图模型 Model</a>
                    </h5>
                    <p class="card-text">https://course-demos-draw2.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech5.jpeg" class="img-fluid rounded-start"
                    alt="HHuggingFace模型-问答模型">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-ask-answer-model/" target="_blank">HuggingFace模型-问答模型 Model</a>
                    </h5>
                    <p class="card-text">https://course-demos-question-answering-simple.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech6.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-Hello-World自定义输入组件">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-hello-world-custom-component/" target="_blank">HuggingFace模型-Hello-World自定义输入组件Model</a>
                    </h5>
                    <p class="card-text">https://course-demos-hello-world-custom.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech7.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace-Space如何隐藏底部Api链接">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-space-hidden-footer-api/" target="_blank">HuggingFace-Space如何隐藏底部Api链接</a>
                    </h5>
                    <p class="card-text">demo.launch(show_api=False)，详情请点击链接。</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/original_images/tech8.jpeg" class="img-fluid rounded-start"
                    alt="HuggingFace模型-文本生成GPT-2模型">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/docs/huggingface-usage/huggingface-gpt-2-model/" target="_blank">HuggingFace模型-文本生成GPT-2模型</a>
                    </h5>
                    <p class="card-text">https://course-demos-gpt-2.hf.space</p>
                    <p class="card-text"><small class="text-body-secondary">Created at 2023-08-06</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}