{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container p-4">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle|richtext }}</h4>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/images/llama2-13b-chat.original.jpg" class="card-img" alt="llama2-13b-chat-model">
        <div class="card-img-overlay">
            <h5 class="card-title">LLama-2 13B Chat Model</h5>
            <p class="card-text">Meta开源LLama2 130亿语言模型。</p>
            <p class="card-text"><small>2023-07-31</small></p>
            <a href="/chat-space/chattool-online/llama2-13b-chat/" class="card-link">GO</a>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/images/other-chat-model.original.jpg" class="card-img" alt="other-chat-model">
        <div class="card-img-overlay">
            <h5 class="card-title">其他</h5>
            <p class="card-text">其他流行开源语言模型，百花齐放。</p>
            <p class="card-text"><small>2023-07-31</small></p>
            <a href="/chat-space/chattool-online/free-gpt/" class="card-link">GO</a>
        </div>
    </div>
</div>

{% endblock %}