{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container p-4">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle|richtext }}</h4>
</div>


<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/tech6.jpeg" class="card-img" alt="baidu-yiyan-model">
        <div class="card-img-overlay">
            <h5 class="card-title">百度文心一言</h5>
            <p class="card-text">百度全新一代知识增强大语言模型，基于飞桨深度学习平台和文心知识增强大模型，持续从海量数据和大规模知识中融合学习具备知识增强、检索增强和对话增强的技术特色。</p>
            <p class="card-text"><small>2023-08-31</small></p>
            <a href="https://yiyan.baidu.com/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/tech5.jpeg" class="card-img" alt="newbing-chat-model">
        <div class="card-img-overlay">
            <h5 class="card-title">Bingo New Bing Chat Website</h5>
            <p class="card-text">Bingo，由AI支持的网页版copilot</p>
            <p class="card-text"><small>2023-08-20</small></p>
            <a href="/chat-space/chattool-online/bingo-chat/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/tech4.jpeg" class="card-img" alt="llama2-image-to-story-model">
        <div class="card-img-overlay">
            <h5 class="card-title">LLama-2 Image To Story Model</h5>
            <p class="card-text">基于Meta开源的LLama2语言模型，识别图片，生成小故事片段。</p>
            <p class="card-text"><small>2023-08-17</small></p>
            <a href="/chat-space/chattool-online/llama2-image-to-story/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/original_images/tech3.jpeg" class="card-img" alt="llama2-13b-chat-model">
        <div class="card-img-overlay">
            <h5 class="card-title">LLama-2 13B Chat Model</h5>
            <p class="card-text">Meta开源LLama2 130亿语言模型。</p>
            <p class="card-text"><small>2023-07-31</small></p>
            <a href="/chat-space/chattool-online/llama2-13b-chat/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="card text-bg-dark">
        <img src="/media/images/other-chat-model.original.jpg" class="card-img" alt="other-chat-model">
        <div class="card-img-overlay">
            <h5 class="card-title">其他</h5>
            <p class="card-text">其他流行开源语言模型，百花齐放。</p>
            <p class="card-text"><small>2023-07-31</small></p>
            <a href="/chat-space/chattool-online/free-gpt/" target="_blank" class="card-link">GO</a>
        </div>
    </div>
</div>

{% endblock %}